* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.hidden {
  display: none; }

.index-page {
  width: 100%; }

.header {
  width: 100%;
  height: 50px;
  background: #000000;
  position: fixed; }

.header__menu {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__list-menu {
  height: 50px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__item-menu {
  margin: 0;
  line-height: 50px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__link-menu {
  display: inline-block;
  height: 21px;
  line-height: 21px;
  padding-right: 10px;
  border-right: 1px dotted #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400px;
  text-transform: uppercase;
  word-spacing: 3px;
  position: relative; }

.header__sup {
  position: relative;
  top: -7px;
  font-size: 13px; }

.header__logo {
  width: 160px;
  max-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo > img {
  width: 100%; }

.main__home {
  width: 960px;
  height: 530px;
  margin: auto;
  padding-top: 60px;
  background-image: url("../img/eyLine_home_web_ok.jpg"); }

.home__logo {
  margin-top: 20px;
  width: 220px; }

.home__logo > img {
  width: 100%; }

.home__title {
  width: 40%;
  font-size: 20px;
  margin-top: 20px; }

.home__dsc {
  width: 70%;
  font-size: 18px;
  margin-top: 20px; }

.home__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px; }

.home__link-icon {
  margin-left: 10px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 0px; }

.advantages {
  width: 960px;
  margin: 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.advantages__blocks {
  width: 33%;
  text-align: center; }

.advantages__img {
  width: 100%;
  overflow: hidden; }

.advantages__img > img {
  width: 100%; }
